.nav{
	background-color: map-get($map:$paleta,$key:'uno');
	height: 80px;
}

.second__container{
	display: flex;
	height: 100%;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.nav__logo{
	font-size: $textXxl;
	font-weight: 900;
	text-decoration: none;
	color: rgb(65,65,65);
}

.nav__menu{
	display: grid;	
	grid-auto-flow:column;
	gap:3em;
}

.nav__item{
	text-decoration: none;
	font-size: $textMd;
	text-transform: uppercase;
	color: map-get($map:$paleta,$key:'cuatro');
	--clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after{
	content: "";
	display: block;
	background: black;
	width: 90%;
	margin-top: 3px;
	height: 3px;
	clip-path: var(--clippy);
	transition: clip-path .3s;
}
.nav__item:hover{
	--clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__input:checked + .nav__menu{
	background: rgb(65,65,65,);
}

.nav__label, .nav__input{
	display: none;
}

@media (max-width: 730px){
	.nav__label{
		display: block;
		cursor: pointer;
	}
	.nav__menu{
		position: fixed;
		top: 120px;
		background: rgb(65,65,65,);
		bottom: 0;
		width: 100%;
		left: 0;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items:center;
		clip-path: circle(0 at center);
		transition: clip-path 1s;
	}
	.nav__input:checked + .nav__menu{
		clip-path: circle(100% at center);
	}
	.nav__item{
		color: white;
		font-size: 4,5em;
	}
	.nav__item::after{
		background: white;
	}
}




		
	
	